<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout  input{
        width : 100%;
        box-sizing : boarder-box
    }

    .layout  textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }
</style>

<body>
    <div class="layout">
        <form action="/board/writepro" method="post" enctype="multipart/form-data"> <!-- enctype은 파일을 첨부하기 위해 필요 -->
            <input name = "title" type="text">
            <textarea name = "content"></textarea>
            <input type="file" name="file">
            <button type="submit">작성</button> <!-- 버튼을 누르면 제목과 내용이 전달됨. -->
        </form>
    </div>
</body>
</html>